@import '~Style/mixins';

.fight {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .enemy-board {
    display: flex;
    height: 20vh;

    .card {
      cursor: not-allowed;

      &:hover {
        box-shadow: inherit;
      }
    }
  }

  .board {
    display: flex;
    align-items: center;
    height: 60vh;
    justify-content: center;

    @include breakpoint(xs) {
      display: initial;
    }
  }

  .hand {
    display: flex;
    align-items: center;
    height: 20vh;

    .card {
      transform: translateY(50%);
      transition: transform 250ms ease;
      cursor: move;

      &:hover {
        transform: translateY(0);
      }
    }
  }

  .hand,
  .enemy-board {
    justify-content: center;

    .card {
      width: calc(5vh + 2rem);

      .figure {
        max-width: 5vh;
        margin: auto;
      }

      .card-name {
        font-size: 0.9rem;
      }
    }

    @include breakpoint(xs) {
      .card {
        display: block;

        .card-infos {
          > .info {
            font-size: 0.8em;

            .picto {
              max-width: 0.5rem;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  @include breakpoint(xs) {
    height: calc(100vh - 2 * 1rem);
  }
}