.card-list-container {
  display: flex;

  .card-list {
    list-style: none;
    flex: 2;

    li {
      display: inline-block;
    }
  }

  aside {
    flex: 1;

    .selected-cards {
      ul {
        li {
          display: block;
        }
      }
    }
  }
}