.card {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 0 10px grey;
  border-radius: 7px;
  max-width: 150px;
  cursor: pointer;
  transition: box-shadow 200ms ease;

  .figure {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
  }

  .card-name {
    text-align: center;
    font-size: 1rem;
    display: block;
    font-family: "Patrick Hand", Helvetica, serif;
    margin: 1rem 0;
  }

  .card-infos {
    display: flex;

    > .info {
      flex: 1;
      text-align: center;
      white-space: nowrap;
    }
  }

  .picto {
    max-width: 1em;
    vertical-align: top;
    margin-right: 3px;
  }

  &.small {
    display: flex;
    margin: 0.5rem 0;
    max-width: initial;
    padding: 0.3rem;
    box-shadow: 0 0 3px grey;
    animation: appear 200ms;

    .figure {
      display: none;
    }

    .card-name,
    .card-infos {
      flex: 1;
    }

    .card-name {
      margin: 0.3rem 0;
    }

    .info {
      align-self: center;
    }
  }

  &:hover {
    box-shadow: 0 0 10px black;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}