.card {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 0 10px grey;
  border-radius: 7px;
  max-width: 200px;

  .figure {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
  }

  .card-name {
    text-align: center;
    font-size: 1rem;
    display: block;
    font-family: "Patrick Hand", Helvetica, serif;
    margin: 1rem 0;
  }

  .card-infos {
    display: flex;

    > span {
      flex: 1;
      text-align: center;
    }
  }

  .picto {
    max-width: 1em;
    vertical-align: top;
    margin-right: 3px;
  }
}