@import "~Style/mixins";

.card {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 0 10px grey;
  border-radius: 7px;
  max-width: 150px;
  cursor: pointer;
  transition: box-shadow 200ms ease;
  position: relative;

  .figure {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
  }

  .card-name {
    text-align: center;
    font-size: 1rem;
    display: block;
    font-family: "Patrick Hand", Helvetica, serif;
    margin: 1rem 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .card-infos {
    display: flex;

    > .info {
      flex: 1;
      text-align: center;
      white-space: nowrap;
    }
  }

  .picto {
    max-width: 1em;
    vertical-align: top;
    margin-right: 3px;
  }

  .more {
    position: absolute;
    top: -0.8rem;
    right: -1.2rem;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;

    &::after {
      content: 'i';
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-color: white;
      border-radius: 50%;
      font-family: "Patrick Hand", Helvetica, serif;
      font-weight: bold;
      line-height: 1.5rem;
      box-shadow: 0 0 2px black;
    }
  }

  .taunt {
    position: absolute;
    z-index: 2;
    left: 80%;
    bottom: 95%;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 5px grey;
    font-family: "Patrick Hand", Helvetica, serif;
    font-weight: bold;
    animation: taunt 2.5s ease;
    transform: scale(0);

    &::after {
      content: '';
      background-color: white;
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      bottom: -5px;
      left: -5px;
      box-shadow: 0 0 5px grey;
      border-radius: 50%;
    }
  }

  &:hover {
    box-shadow: 0 0 10px black;
  }

  @mixin small-card {
    display: flex;
    margin: 0.5rem 0;
    max-width: initial;
    padding: 0.3rem;
    box-shadow: 0 0 3px grey;
    animation: appear 200ms;

    .figure {
      display: none;
    }

    .card-name,
    .card-infos {
      flex: 1;
    }

    .card-name {
      margin: 0.3rem 0;
    }

    .info {
      align-self: center;
    }

    &.selected {
      opacity: 0.7;
      transform: scale(0.95);
      box-shadow: 0 0 10px grey;
    }

    .more {
      display: none;
    }
  }

  &.small {
    @include small-card;
  }

  @include breakpoint(xs) {
    @include small-card;
  }

  &.died {
    transform: scale(0);
    transition: transform 200ms;
  }

  &.type-angel {
    background-color: #BBDEFB;
  }
  
  &.type-demon {
    background-color: #FFCDD2;
  }
  
  &.type-villager {
    background-color: #C8E6C9;
  }
  
  &.type-fighter {
    background-color: #FFE0B2;
  }
}

.card-modal {
  background-color: white;
  padding: 1rem;
  max-width: 50vw;
  height: auto;
  margin: auto;
  outline: 0;
  position: relative;
  top: 2rem;
  box-shadow: 0 0 5px grey;

  .card-name {
    text-align: center;
    margin: 0 0 1rem;
  }

  .card-infos {
    display: flex;
    justify-content: center;

    .info {
      margin: 0 0.5rem;

      .picto {
        width: 1rem;
      }
    }
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes taunt {
  0% {
    transform: scale(0);
  }
  5% {
    transform: scale(1);
  }
  95% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.enemy-card {
  position: relative;

  &.over:not(.not-drop) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2) url('../../../img/gaming.svg') no-repeat center;
      background-size: 30%;
    }
  }
}